@font-face {
    font-family: 'Manifold Extended CF'; /* Name you want to use in CSS */
    src: url('fonts/Fontspring-DEMO-manifoldextendedcf-regular.otf') format('opentype'); /* Adjust the path as needed */
    font-weight: normal; /* Specify the font weight */
    font-style: normal; /* Specify the font style */
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.hdr{
    text-align: center;
    margin-top: 20px;
    font-family: 'Manifold Extended CF', sans-serif;
    font-size: 40px;
    color: azure;
}

.image-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin: 10px; 
}

.hdr_img{
    width: 270px;
    height: 110px;
    border-radius: 50%;
}

.content {
    font-family: 'Manifold Extended CF', sans-serif;
    text-align: center;
    font-size: 76px;
    margin: 260px 270px 70px;
    color: #f5fffffe;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.655);
    border: 3px solid rgba(255, 255, 255, 0.728);
}

#nav_buttons ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#nav_buttons li{
    margin: 0px 30px;
    border: 3px solid rgba(255, 255, 255, 0.71);
    border-radius: 5px;
}

#nav_buttons a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 0 7px;
    font-size: 30px;
    font-family: 'Manifold Extended CF', sans-serif;
}


.flex-section {
    padding-top: 250px;
    text-align: center;
    margin: 0 20px;
}

.content-section {
    margin: 40px 60px;
    border: 2px solid; 
    border-radius: 10px; 
    padding: 10px;
    background-color: rgba(47, 151, 255, 0.116) ; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.459);
}

.innie_hdr{
    color: white;
    font-family: 'Manifold Extended CF', sans-serif;
}

.innie_content{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    max-width: 90%;
    margin: 30px auto;
    color: white;
}

.innie_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}



body {
    background-image: 
        url(images/b4.jpg), 
        url(images/mnh.jpg);
    background-position: 
        top center, 
        center center;
    background-size: 
        contain, 
        cover;
    background-repeat: 
        no-repeat, 
        no-repeat;
    margin: 0;
}


.coder{
    color: rgb(215, 0, 0);
    font-family: 'Arimo', sans-serif;
    padding: 20px;
    text-align:  center;
}

